torch
timm==0.6.11
einops
triton

PyYAML
yacs
tensorboardX
tqdm
termcolor
submitit
fvcore
prettytable

numpy
scipy
scikit-image
opencv-python
matplotlib
seaborn
imageio-ffmpeg
moviepy
numba
filterpy

easydict
packaging
pytest
chardet
ipdb

smplx
chumpy
roma

torchprofile
thop
pytorch-metric-learning









